* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: rgba(59, 32, 18, 0.95);
}

/* ----------------links------------------------- */

.list-group {
    position: fixed;
    right: 1%;
    top: 25%;
    z-index: 10;
}
/* -----------------main------------------ */
.carousel-caption {
    background-color: rgba(75, 42, 22, 0.5); 
    color: blanchedalmond;
}

/* ----------------titles------------------------- */

.titles {
    font-family: PT Sans Narrow, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

/*----------------------------- main----------------------------------- */

.mainSection-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    font-size: 40px;
}

/* ---------------------------------------sec1----------------------------- */


.types .card-type {
    height: 380px;
    margin: 100px 0;
    position: relative;
    border-radius: 20px;
    transition: 0.5s;
}

.types .card-type .type-img {
    position: absolute;
    height: 100%;
    border-radius: 20px;
}

.types .card-type .type-overlay {
    position: absolute;
    background-color: rgba(20, 20, 20, 0.7);
    color: aliceblue;
    text-align: center;
    padding-top: 100px;
    border-radius: 20px;
    letter-spacing: 1px;
    line-height: px;
    visibility: hidden;
    transition: 0.2s;
}


.types .card-type .type-overlay .card-title {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-size: 40px;
}

.card-type:hover .type-overlay {
    visibility: visible;
}

.card-type:hover {
    transform: scale(0.9, 0.9);
}

/* ---------------------------------------sec5----------------------------- */

.sec5 {
    max-width: 100%;
    height: 250px;
    background-image: url(../images/coffee-break.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
    background-attachment: fixed;
    text-align: center;
}

.coffee-break {
    line-height: 70px;
}

.overlay-break {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 48, 48, 0.7);
}

.break-contant {
    position: absolute;
    width: 100%;
    padding-top: 70px;
    margin: auto;
    color: azure;
}

.break-contant .ready {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-size: 60px;
}

/* ---------------------------------------sec7----------------------------- */
.sec7 {
    margin-top: 20px;
    background-color: rgba(100, 54, 31, 0.1);
}

.e-shop-item {
    position: relative;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

.e-shop-item .card-body {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
/* ----------------------- */
.item-overlay::before {
    position: absolute;
    background-color: rgba(66, 41, 41, 0.2);
    visibility: hidden;
    content: "";
    width: 0;
    height: 0;

    top: 0;
    left: 0;
    transition: 0.7s;
}

.e-shop-item:hover .item-overlay::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}

/* -------------- */

.item-overlay::after {
    position: absolute;
    background-color: rgba(66, 41, 41, 0.2);
    visibility: hidden;
  content: "";
    width: 0;
    height: 0;

    right: 0;
    bottom: 0;
    transition: 0.7s;
}

.e-shop-item:hover .item-overlay::after {
    width: 100%;
    height: 100%;
    visibility: visible;
}
/* ------------ */

.e-shop-item .card-body .item-title {
    font-size: 22px;
}

.e-shop-item .card-body .item-text {
    font-size: 15px;

}

/* ----------------------- section-8------------------------ */

.sec8-container .jumbotron .jumbotron1 .jumbotron1-img {
    clip-path: polygon(0% 0%,
            100% 0%,
            75% 100%,
            0% 100%);
}

.sec8-container .jumbotron .jumbotron1 .jumbotron2-img {
    clip-path: polygon(0% 0%,
            100% 0%,
            100% 100%,
            25% 100%);
}

.sec8-container .jumbotron .jumbotron1 {
    background-color: rgb(235, 235, 217);
}

.sec8-container .jumbotron1 .jumbotron1-descreption .load-line {
    width: 100px;
    transition: 0.2s;
}

.sec8-container .jumbotron1:hover .jumbotron1-descreption .load-line {
    width: 150px;
}

#btn-hover:hover {
    background-color: rgba(95, 63, 49, 0.95);
}

.sec8-container .jumbotron .jumbotron1 .jumbotron1-img-img:hover {
    object-fit: cover;
}

.sec8-container .jumbotron .jumbotron1 .jumbotron2-img-img:hover {
    object-fit: cover;
}

.custom-shadow {
    box-shadow: 0 0 30px rgb(59, 32, 18);
}

/* -----------------------followUs-section------------------------ */
.custom-shadow1 {
    box-shadow: 0 0 20px rgb(66, 66, 66);
}

.Follow-link:hover {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

/* -----------------------footer-section------------------------ */

footer {
    background-color: rgba(59, 32, 18, 0.95);
    color: whitesmoke;
    padding: 50px;
    word-spacing: 2px;
    letter-spacing: 2px;
    line-height: 30px;
}
.footer-containt .footer-img:hover {
    background-color: rgba(100, 70, 55, 0.95);

}

.footer-containt p a {
    color: aliceblue;
    text-decoration: none;
}

.footer-containt p a:hover {
    color: rgb(92, 96, 99);
}